html,
body {
  margin: 0%;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
}
body {
  background-image: url(./image/bird.jpeg);
  height: 500px;
  background-position: center;
  background-repeat: repeat-y;
  background-size: cover;
}
.display-4 {
  font-size: 76pt;
  margin-top: 4rem;
  color: whitesmoke;
}
.lead {
  font-family: "Times New Roman", Times, serif;
  color: whitesmoke;
  font-size: 26pt;
}
.btn {
  background: whitesmoke;
  color: #b853c1;
}
button:hover,
.btn:hover {
  transform: scale(1.2);
}
.jumbotron {
  margin-top: 4rem;
  font-family: "Courier New", Courier, monospace;
  font-size: 28pt;
  color: white;
}
button {
  border-radius: 10%;
  font-family: "Times New Roman", Times, serif;
  margin-top: 1rem;
  margin-bottom: 1rem;
  background: whitesmoke;
  color: #b853c1;
  border: none;
  font-size: 16pt;
  padding: 1% 1%;
  border-radius: 20%;
}
.high-score {
  float: right;
  margin-top: -2rem;
  font-family: "Times New Roman", Times, serif;
  font-size: 16pt;
  color: whitesmoke;
  text-decoration: none;
}
.high-score:hover {
  transform: scale(1.5);
  color: black;
}
.home {
  border-radius: 10%;
  font-family: "Times New Roman", Times, serif;
  margin-top: 1rem;
  margin-bottom: 1rem;
  background: whitesmoke;
  color: #b853c1;
  border: none;
  font-size: 16pt;
  padding: 0.5% 0.5%;
  border-radius: 20%;
}
.home:hover {
  transform: scale(15);
  color: black;
}
.results {
  font-family: "Times New Roman", Times, serif;
  font-size: 16pt;
  color: whitesmoke;
  padding-top: 1rem;
  margin-left: 3rem;
}

h3,
.time-left {
  font-family: "Times New Roman", Times, serif;
  font-size: 16pt;
  color: whitesmoke;
  padding-top: 1rem;
}
.table {
  width: 50%;
  height: 70px;
  text-align: center;
  padding: 15px;
  margin-left: 22rem;
}
th {
  font-family: "Times New Roman", Times, serif;
  font-size: 18pt;
  color: whitesmoke;
}
td {
  font-family: "Times New Roman", Times, serif;
  font-size: 14pt;
  color: whitesmoke;
  height: 30px;
}
.end {
  font-size: 56pt;
}
